<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HKPlace</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <h3>Home</h3>
    <a href="/oauth/google">Authenticate with Google</a>
</body>
</html>
