<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HKPlace - Discover Hong Kong</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <nav class="navbar">
        <h1><a href="/home">HKPlace</a></h1>
        <div>
            <a href="/game" class="game-btn">Game</a>
            <a href="/study" class="study-btn">Study</a>
            <% if (!req.user) { %>
                <a href="/oauth/google" class="login-btn">Login with Google</a>
            <% } else { %>
                <a href="/user" class="user-btn">Profile</a>
                <a href="/logout" class="login-btn">Logout</a>
            <% } %>
        </div>
    </nav>
    <% if (!req.user) { %>
        <h3>Home, Please Login!</h3>
    <% } else { %>
        <h3>Welcome, <%= uname %>!</h3>
        <h3>Email: <%= email %></h3>
        <h3>Game Level: <%= level %></h3>
        <a href="/user/edit" class="login-btn">Change Username</a>
        
        <form action="/add/comment/" method="POST">
            <select id="location" name="location" size="3">
                <option value="volvo">Aberdeen</option>
                <option value="saab">Stanley</option>
            </select>
            <input type="hidden" id="gid" name="gid" value="<%= gid %>">
            <textarea type="text" id="content" name="content" required></textarea>
            <button type="submit">Comment</button>
        </form>
    <% } %>
</body>
</html>

